In [1]:
import json
import pandas as pd
import numpy as np

# Parse JSON File

In [2]:
input_path = '../data/data.json'
output_path = '../data/data.csv'
# input_path = '../data/dataset1.json'
# output_path = '../data/data1.csv'
# input_path = '../data/dataset2.json'
# output_path = '../data/data2.csv'

In [3]:
df = pd.read_json(input_path, lines=True)

In [4]:
df

,ENST00000000233,ENST00000000412,ENST00000002165,ENST00000003100,ENST00000007516,ENST00000005257,ENST00000001008,ENST00000007390,ENST00000007264,ENST00000009589,...,ENST00000640069,ENST00000640218,ENST00000640406,ENST00000641023,ENST00000641198,ENST00000641375,ENST00000641390,ENST00000641708,ENST00000641784,ENST00000641834
0,"{'244': {'AAGACCA': [[0.00299, 2.06, 125.0, 0....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'261': {'CAAACTG': [[0.0126, 1.95000000000000...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'316': {'GAAACAG': [[0.00432, 2.02, 104.0, 0....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'332': {'AGAACAT': [[0.0134, 4.71, 132.0, 0.0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'368': {'AGGACAA': [[0.015, 6.97, 118.0, 0.01...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1348': {'GGGACAT': [[0.0112, 2.96, 116.0, 0...."
121834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1429': {'CTGACAC': [[0.0069700000000000005, ..."
121835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1531': {'TGGACAC': [[0.00996, 3.12, 112.0, 0..."
121836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1537': {'CTGACCA': [[0.00396, 3.14, 108.0, 0..."
121837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1693': {'TTGACAT': [[0.021500000000000002, 5..."

In [5]:
# return the key and value of the dictionary separately
# input: dictionary
# output: key, value
def split(x):
    key = list(x.keys())[0]
    value = x.get(key)
    return key, value

In [6]:
# expand the nested dictionary
transcript_list, position_list, sevenmers_list, reads_list = [], [], [], []
for colname in df.columns:
    test = df[colname].dropna()
    for row in test: # each row is a dictionary
        position, dic = split(row)
        fivemers, reads = split(dic)
        
        transcript_list.append(colname)
        position_list.append(position)
        sevenmers_list.append(fivemers)
        reads_list.append(reads)

In [7]:
df = pd.DataFrame()
df['transcript_id'] = transcript_list
df['transcript_position'] = position_list
df['sevenmers'] = sevenmers_list
df['reads'] = reads_list
df

,transcript_id,transcript_position,sevenmers,reads
0,ENST00000000233,244,AAGACCA,"[[0.00299, 2.06, 125.0, 0.0177, 10.4, 122.0, 0..."
1,ENST00000000233,261,CAAACTG,"[[0.0126, 1.9500000000000002, 111.0, 0.0125, 1..."
2,ENST00000000233,316,GAAACAG,"[[0.00432, 2.02, 104.0, 0.00299, 3.56, 99.3, 0..."
3,ENST00000000233,332,AGAACAT,"[[0.0134, 4.71, 132.0, 0.00447, 4.24, 98.8, 0...."
4,ENST00000000233,368,AGGACAA,"[[0.015, 6.97, 118.0, 0.0106, 3.04, 123.0, 0.0..."
...,...,...,...,...
121833,ENST00000641834,1348,GGGACAT,"[[0.0112, 2.96, 116.0, 0.009300000000000001, 3..."
121834,ENST00000641834,1429,CTGACAC,"[[0.0069700000000000005, 4.25, 112.0, 0.00481,..."
121835,ENST00000641834,1531,TGGACAC,"[[0.00996, 3.12, 112.0, 0.00432, 4.5, 115.0, 0..."
121836,ENST00000641834,1537,CTGACCA,"[[0.00396, 3.14, 108.0, 0.007470000000000001, ..."
121837,ENST00000641834,1693,TTGACAT,"[[0.021500000000000002, 5.59, 104.0, 0.00996, ..."

In [8]:
df = df.explode('reads') # each row is one read
df

,transcript_id,transcript_position,sevenmers,reads
0,ENST00000000233,244,AAGACCA,"[0.00299, 2.06, 125.0, 0.0177, 10.4, 122.0, 0...."
0,ENST00000000233,244,AAGACCA,"[0.0063100000000000005, 2.5300000000000002, 12..."
0,ENST00000000233,244,AAGACCA,"[0.0046500000000000005, 3.92, 109.0, 0.0136000..."
0,ENST00000000233,244,AAGACCA,"[0.00398, 2.06, 125.0, 0.0083, 5.01, 130.0, 0...."
0,ENST00000000233,244,AAGACCA,"[0.006640000000000001, 2.92, 120.0, 0.00266, 3..."
...,...,...,...,...
121837,ENST00000641834,1693,TTGACAT,"[0.0041800000000000006, 7.49, 108.0, 0.00564, ..."
121837,ENST00000641834,1693,TTGACAT,"[0.006640000000000001, 1.9100000000000001, 109..."
121837,ENST00000641834,1693,TTGACAT,"[0.00721, 4.58, 105.0, 0.00398, 6.58, 113.0, 0..."
121837,ENST00000641834,1693,TTGACAT,"[0.00266, 2.33, 109.0, 0.009130000000000001, 1..."
121837,ENST00000641834,1693,TTGACAT,"[0.00564, 3.13, 110.0, 0.00303, 9.98, 118.0, 0..."

# Expand reads

In [9]:
df1 = pd.DataFrame(df['reads'].to_list())

In [10]:
df3 = pd.concat([df.reset_index(), df1], axis=1)

In [11]:
df3

,index,transcript_id,transcript_position,sevenmers,reads,0,1,2,3,4,5,6,7,8
0,0,ENST00000000233,244,AAGACCA,"[0.00299, 2.06, 125.0, 0.0177, 10.4, 122.0, 0....",0.00299,2.06,125.0,0.01770,10.40,122.0,0.00930,10.90,84.1
1,0,ENST00000000233,244,AAGACCA,"[0.0063100000000000005, 2.5300000000000002, 12...",0.00631,2.53,125.0,0.00844,4.67,126.0,0.01030,6.30,80.9
2,0,ENST00000000233,244,AAGACCA,"[0.0046500000000000005, 3.92, 109.0, 0.0136000...",0.00465,3.92,109.0,0.01360,12.00,124.0,0.00498,2.13,79.6
3,0,ENST00000000233,244,AAGACCA,"[0.00398, 2.06, 125.0, 0.0083, 5.01, 130.0, 0....",0.00398,2.06,125.0,0.00830,5.01,130.0,0.00498,3.78,80.4
4,0,ENST00000000233,244,AAGACCA,"[0.006640000000000001, 2.92, 120.0, 0.00266, 3...",0.00664,2.92,120.0,0.00266,3.94,129.0,0.01300,7.15,82.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11027101,121837,ENST00000641834,1693,TTGACAT,"[0.0041800000000000006, 7.49, 108.0, 0.00564, ...",0.00418,7.49,108.0,0.00564,10.20,116.0,0.01000,2.01,76.4
11027102,121837,ENST00000641834,1693,TTGACAT,"[0.006640000000000001, 1.9100000000000001, 109...",0.00664,1.91,109.0,0.00598,12.30,110.0,0.01760,2.61,74.6
11027103,121837,ENST00000641834,1693,TTGACAT,"[0.00721, 4.58, 105.0, 0.00398, 6.58, 113.0, 0...",0.00721,4.58,105.0,0.00398,6.58,113.0,0.00316,2.28,85.3
11027104,121837,ENST00000641834,1693,TTGACAT,"[0.00266, 2.33, 109.0, 0.009130000000000001, 1...",0.00266,2.33,109.0,0.00913,10.40,108.0,0.00664,4.44,76.8
11027105,121837,ENST00000641834,1693,TTGACAT,"[0.00564, 3.13, 110.0, 0.00303, 9.98, 118.0, 0...",0.00564,3.13,110.0,0.00303,9.98,118.0,0.01930,1.79,76.2

In [12]:
df3 = df3.rename(columns = {0:'dwelling_time_1', 1:'sd_current_1', 2:'mean_current_1',
                            3:'dwelling_time_2', 4:'sd_current_2', 5:'mean_current_2',
                            6:'dwelling_time_3', 7:'sd_current_3', 8:'mean_current_3'})
df3

,index,transcript_id,transcript_position,sevenmers,reads,dwelling_time_1,sd_current_1,mean_current_1,dwelling_time_2,sd_current_2,mean_current_2,dwelling_time_3,sd_current_3,mean_current_3
0,0,ENST00000000233,244,AAGACCA,"[0.00299, 2.06, 125.0, 0.0177, 10.4, 122.0, 0....",0.00299,2.06,125.0,0.01770,10.40,122.0,0.00930,10.90,84.1
1,0,ENST00000000233,244,AAGACCA,"[0.0063100000000000005, 2.5300000000000002, 12...",0.00631,2.53,125.0,0.00844,4.67,126.0,0.01030,6.30,80.9
2,0,ENST00000000233,244,AAGACCA,"[0.0046500000000000005, 3.92, 109.0, 0.0136000...",0.00465,3.92,109.0,0.01360,12.00,124.0,0.00498,2.13,79.6
3,0,ENST00000000233,244,AAGACCA,"[0.00398, 2.06, 125.0, 0.0083, 5.01, 130.0, 0....",0.00398,2.06,125.0,0.00830,5.01,130.0,0.00498,3.78,80.4
4,0,ENST00000000233,244,AAGACCA,"[0.006640000000000001, 2.92, 120.0, 0.00266, 3...",0.00664,2.92,120.0,0.00266,3.94,129.0,0.01300,7.15,82.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11027101,121837,ENST00000641834,1693,TTGACAT,"[0.0041800000000000006, 7.49, 108.0, 0.00564, ...",0.00418,7.49,108.0,0.00564,10.20,116.0,0.01000,2.01,76.4
11027102,121837,ENST00000641834,1693,TTGACAT,"[0.006640000000000001, 1.9100000000000001, 109...",0.00664,1.91,109.0,0.00598,12.30,110.0,0.01760,2.61,74.6
11027103,121837,ENST00000641834,1693,TTGACAT,"[0.00721, 4.58, 105.0, 0.00398, 6.58, 113.0, 0...",0.00721,4.58,105.0,0.00398,6.58,113.0,0.00316,2.28,85.3
11027104,121837,ENST00000641834,1693,TTGACAT,"[0.00266, 2.33, 109.0, 0.009130000000000001, 1...",0.00266,2.33,109.0,0.00913,10.40,108.0,0.00664,4.44,76.8
11027105,121837,ENST00000641834,1693,TTGACAT,"[0.00564, 3.13, 110.0, 0.00303, 9.98, 118.0, 0...",0.00564,3.13,110.0,0.00303,9.98,118.0,0.01930,1.79,76.2

In [13]:
final_df = df3.drop(columns=['reads', 'index'])

In [14]:
final_df

,transcript_id,transcript_position,sevenmers,dwelling_time_1,sd_current_1,mean_current_1,dwelling_time_2,sd_current_2,mean_current_2,dwelling_time_3,sd_current_3,mean_current_3
0,ENST00000000233,244,AAGACCA,0.00299,2.06,125.0,0.01770,10.40,122.0,0.00930,10.90,84.1
1,ENST00000000233,244,AAGACCA,0.00631,2.53,125.0,0.00844,4.67,126.0,0.01030,6.30,80.9
2,ENST00000000233,244,AAGACCA,0.00465,3.92,109.0,0.01360,12.00,124.0,0.00498,2.13,79.6
3,ENST00000000233,244,AAGACCA,0.00398,2.06,125.0,0.00830,5.01,130.0,0.00498,3.78,80.4
4,ENST00000000233,244,AAGACCA,0.00664,2.92,120.0,0.00266,3.94,129.0,0.01300,7.15,82.2
...,...,...,...,...,...,...,...,...,...,...,...,...
11027101,ENST00000641834,1693,TTGACAT,0.00418,7.49,108.0,0.00564,10.20,116.0,0.01000,2.01,76.4
11027102,ENST00000641834,1693,TTGACAT,0.00664,1.91,109.0,0.00598,12.30,110.0,0.01760,2.61,74.6
11027103,ENST00000641834,1693,TTGACAT,0.00721,4.58,105.0,0.00398,6.58,113.0,0.00316,2.28,85.3
11027104,ENST00000641834,1693,TTGACAT,0.00266,2.33,109.0,0.00913,10.40,108.0,0.00664,4.44,76.8
11027105,ENST00000641834,1693,TTGACAT,0.00564,3.13,110.0,0.00303,9.98,118.0,0.01930,1.79,76.2

# Export to csv

In [15]:
final_df.to_csv(output_path, index=False)