In [1]:
import json
import pandas as pd
import numpy as np

# Parse JSON File

In [2]:
df = pd.read_json('../data/data.json', lines=True)

In [3]:
df

,ENST00000000233,ENST00000000412,ENST00000002165,ENST00000003100,ENST00000007516,ENST00000005257,ENST00000001008,ENST00000007390,ENST00000007264,ENST00000009589,...,ENST00000640069,ENST00000640218,ENST00000640406,ENST00000641023,ENST00000641198,ENST00000641375,ENST00000641390,ENST00000641708,ENST00000641784,ENST00000641834
0,"{'244': {'AAGACCA': [[0.00299, 2.06, 125.0, 0....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'261': {'CAAACTG': [[0.0126, 1.95000000000000...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'316': {'GAAACAG': [[0.00432, 2.02, 104.0, 0....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'332': {'AGAACAT': [[0.0134, 4.71, 132.0, 0.0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'368': {'AGGACAA': [[0.015, 6.97, 118.0, 0.01...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1348': {'GGGACAT': [[0.0112, 2.96, 116.0, 0...."
121834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1429': {'CTGACAC': [[0.0069700000000000005, ..."
121835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1531': {'TGGACAC': [[0.00996, 3.12, 112.0, 0..."
121836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1537': {'CTGACCA': [[0.00396, 3.14, 108.0, 0..."
121837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1693': {'TTGACAT': [[0.021500000000000002, 5..."

In [4]:
# column of ENST00000000233 after dropping the null values
test = df['ENST00000000233'].dropna()
df2 = pd.DataFrame(test)
df2

                                      ENST00000000233
0   {'244': {'AAGACCA': [[0.00299, 2.06, 125.0, 0....
1   {'261': {'CAAACTG': [[0.0126, 1.95000000000000...
2   {'316': {'GAAACAG': [[0.00432, 2.02, 104.0, 0....
3   {'332': {'AGAACAT': [[0.0134, 4.71, 132.0, 0.0...
4   {'368': {'AGGACAA': [[0.015, 6.97, 118.0, 0.01...
5   {'404': {'AGAACAC': [[0.00444, 5.4, 131.0, 0.0...
6   {'431': {'TGGACAG': [[0.0102, 2.78000000000000...
7   {'440': {'ATGACCG': [[0.00432, 2.94, 97.5, 0.0...
8   {'471': {'TGAACTC': [[0.00266, 10.6, 125.0, 0....
9   {'539': {'AGGACAT': [[0.017, 6.09, 115.0, 0.00...
10  {'571': {'CTGACTG': [[0.0034900000000000005, 3...
11  {'575': {'CTGACAA': [[0.00479, 3.43, 106.0, 0....
12  {'665': {'TGGACTG': [[0.0098, 2.67, 118.0, 0.0...
13  {'696': {'CTAACCA': [[0.00299, 1.45, 91.8, 0.0...
14  {'752': {'ATGACCA': [[0.0069700000000000005, 4...
15  {'757': {'CAGACTC': [[0.00498, 3.32, 110.0, 0....
16  {'765': {'CGGACTC': [[0.00303, 2.86, 122.0, 0....
17  {'913': {'GGGACCT': [[0.00478, 2.67, 120.0, 0....

In [5]:
# return the key and value of the dictionary separately
# input: dictionary
# output: key, value
def split(x):
    key = list(x.keys())[0]
    value = x.get(key)
    return key, value

In [6]:
# expand the nested dictionary
transcript_list, position_list, fivemers_list, reads_list = [], [], [], []
for colname in df.columns:
    test = df[colname].dropna()
    for row in test: # each row is a dictionary
        position, dic = split(row)
        fivemers, reads = split(dic)
        
        transcript_list.append(colname)
        position_list.append(position)
        fivemers_list.append(fivemers)
        reads_list.append(reads)

In [7]:
df = pd.DataFrame()
df['transcript_id'] = transcript_list
df['transcript_position'] = position_list
df['fivemers'] = fivemers_list
df['reads'] = reads_list
df

,transcript_id,transcript_position,fivemers,reads
0,ENST00000000233,244,AAGACCA,"[[0.00299, 2.06, 125.0, 0.0177, 10.4, 122.0, 0..."
1,ENST00000000233,261,CAAACTG,"[[0.0126, 1.9500000000000002, 111.0, 0.0125, 1..."
2,ENST00000000233,316,GAAACAG,"[[0.00432, 2.02, 104.0, 0.00299, 3.56, 99.3, 0..."
3,ENST00000000233,332,AGAACAT,"[[0.0134, 4.71, 132.0, 0.00447, 4.24, 98.8, 0...."
4,ENST00000000233,368,AGGACAA,"[[0.015, 6.97, 118.0, 0.0106, 3.04, 123.0, 0.0..."
...,...,...,...,...
121833,ENST00000641834,1348,GGGACAT,"[[0.0112, 2.96, 116.0, 0.009300000000000001, 3..."
121834,ENST00000641834,1429,CTGACAC,"[[0.0069700000000000005, 4.25, 112.0, 0.00481,..."
121835,ENST00000641834,1531,TGGACAC,"[[0.00996, 3.12, 112.0, 0.00432, 4.5, 115.0, 0..."
121836,ENST00000641834,1537,CTGACCA,"[[0.00396, 3.14, 108.0, 0.007470000000000001, ..."
121837,ENST00000641834,1693,TTGACAT,"[[0.021500000000000002, 5.59, 104.0, 0.00996, ..."

In [8]:
df = df.explode('reads') # each row is one read
df

,transcript_id,transcript_position,fivemers,reads
0,ENST00000000233,244,AAGACCA,"[0.00299, 2.06, 125.0, 0.0177, 10.4, 122.0, 0...."
0,ENST00000000233,244,AAGACCA,"[0.0063100000000000005, 2.5300000000000002, 12..."
0,ENST00000000233,244,AAGACCA,"[0.0046500000000000005, 3.92, 109.0, 0.0136000..."
0,ENST00000000233,244,AAGACCA,"[0.00398, 2.06, 125.0, 0.0083, 5.01, 130.0, 0...."
0,ENST00000000233,244,AAGACCA,"[0.006640000000000001, 2.92, 120.0, 0.00266, 3..."
...,...,...,...,...
121837,ENST00000641834,1693,TTGACAT,"[0.0041800000000000006, 7.49, 108.0, 0.00564, ..."
121837,ENST00000641834,1693,TTGACAT,"[0.006640000000000001, 1.9100000000000001, 109..."
121837,ENST00000641834,1693,TTGACAT,"[0.00721, 4.58, 105.0, 0.00398, 6.58, 113.0, 0..."
121837,ENST00000641834,1693,TTGACAT,"[0.00266, 2.33, 109.0, 0.009130000000000001, 1..."
121837,ENST00000641834,1693,TTGACAT,"[0.00564, 3.13, 110.0, 0.00303, 9.98, 118.0, 0..."

# Export to csv

In [9]:
df.to_csv('../data/data.csv', index=False)